<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <h2 class="section-heading text-white" id="headingName">Rólunk</h2>
        <hr class="light my-4">
<!--        <img src="img/cris.jpg" alt="Cristina Defoe" class="profile-image">-->
        <br>
<!--        <p class="text-light mb-4 greeting">Hello!</p>-->
        <p class="text-light">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <p class="text-light">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>

        <hr class="light my-4">
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#contact">Kapcsolat</a>
      </div>
    </div>
  </div>
</section>
